<div class="container-xl">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-8">
                        <h2><b>Đăng ký môn học: </b></h2>
                        <h3>MSSV: {{user.studentID}}</h3>
                    </div>
                    <div class="col-sm-4">
                        <div class="search-box">
                            <i class="material-icons">&#xE8B6;</i>
                            <!-- Example single danger button -->


                            <div class="btn-group">
                                <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                   {{#if semeste}}
                                      Học kỳ : {{semeste}}                                  
                                    {{/if}}
                                </button>
                                <div class="dropdown-menu">
                                    {{#each semesters}}
                                      
                                    <a class="dropdown-item" href="#" data-value="{{this.semester}}">{{this.semester}}</a>
                                       
                                   {{/each}}
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <table class="table table-striped table-hover table-bordered sortable">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Faculty</th>
                        <th>Num of credits</i></th>
                        <th>Semester</th>
                        <th>Join</th>
                      
                    </tr>
                </thead>
                <tbody>
                    {{#each rows}}
                     {{#if_eq this.semester ../semeste}} 
                  
                    <tr>
                       
                        <td>{{this.subjectID}}</td>
                        <td>{{this.subjectName}}</td>
                        <td>{{this.facultyID}}</td>
                        <td>{{this.numOfCredits}}</td>
                        <td>{{this.semester}}</td>
                        <td style="text-align: center;">
                            {{#if_eq this.existed 0}}
                            <a href="/student/regisSub/enroll/{{this.subjectID}}/{{../user.studentID}}/{{this.semester}}" class="view" title="Đăng ký" data-toggle="tooltip" style="cursor: pointer;"><i class="material-icons"><img src="https://cdn4.iconfinder.com/data/icons/basic-mobile-app-ui/50/04-31-add-user-512.png" style="height: 35px; width:35px"></i></a>
                            {{else}}
                                {{#if_eq this.existed 1}}
                                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e0/Eo_circle_light-blue_checkmark.svg/2048px-Eo_circle_light-blue_checkmark.svg.png" title="Đã đăng ký" style="height: 35px;width:35px">
                                {{else}}
                                <img src="http://cdn.onlinewebfonts.com/svg/img_274719.png" title="Chưa có giáo viên dạy" style="height: 35px;width:35px">
                                {{/if_eq}}
                            {{/if_eq}}
                            
                        </td>
                        
                    </tr>
                    {{/if_eq}}
                    {{/each}}
                </tbody>
            </table>
          
        </div>
    </div>
</div>
<script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    body {
        color: #566787;
        background: #f5f5f5;
        font-family: 'Roboto', sans-serif;
    }

    .table-responsive {
        margin: 30px 0;
    }

    .table-wrapper {
        min-width: 1000px;
        background: #fff;
        padding: 20px;
        box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    }

    .table-title {
        padding-bottom: 10px;
        margin: 0 0 10px;
        min-width: 100%;
    }

    .table-title h2 {
        margin: 8px 0 0;
        font-size: 29px;
    }
    .table-title h3 {
        margin: 8px 0 0;
        font-size: 18px;
    }

    .search-box {
        position: relative;
        float: right;
    }

    .search-box input {
        height: 34px;
        border-radius: 20px;
        padding-left: 35px;
        border-color: #ddd;
        box-shadow: none;
    }

    .search-box input:focus {
        border-color: #3FBAE4;
    }

    .search-box i {
        color: #a0a5b1;
        position: absolute;
        font-size: 19px;
        top: 8px;
        left: 10px;
    }

    table.table tr th,
    table.table tr td {
        border-color: #e9e9e9;
    }

    table.table-striped tbody tr:nth-of-type(odd) {
        background-color: #fcfcfc;
    }

    table.table-striped.table-hover tbody tr:hover {
        background: #f5f5f5;
    }

    table.table th i {
        font-size: 13px;
        margin: 0 5px;
        cursor: pointer;
    }

    table.table td:last-child {
        width: 130px;
    }

    table.table td a {
        color: #a0a5b1;
        display: inline-block;
        margin: 0 5px;
    }

    table.table td a.view {
        color: #03A9F4;
    }

    table.table td a.edit {
        color: #FFC107;
    }

    table.table td a.delete {
        color: #E34724;
    }

    table.table td i {
        font-size: 19px;
    }

    .pagination {
        float: right;
        margin: 0 0 5px;
    }

    .pagination li a {
        border: none;
        font-size: 95%;
        width: 30px;
        height: 30px;
        color: #999;
        margin: 0 2px;
        line-height: 30px;
        border-radius: 30px !important;
        text-align: center;
        padding: 0;
    }

    .pagination li a:hover {
        color: #666;
    }

    .pagination li.active a {
        background: #03A9F4;
    }

    .pagination li.active a:hover {
        background: #0397d6;
    }

    .pagination li.disabled i {
        color: #ccc;
    }

    .pagination li i {
        font-size: 16px;
        padding-top: 6px
    }

    .hint-text {
        float: left;
        margin-top: 6px;
        font-size: 95%;
    }
</style>
<script>
 

    if (document.readyState == 'loading') {
        document.addEventListener('DOMContentLoaded', ready)
    } else {
        ready()
    }
    function ready() {
        var quantityInputs = document.getElementsByClassName('dropdown-item')

        for (var i = 0; i < quantityInputs.length; i++) {
            var input = quantityInputs[i]
            input.addEventListener('click', quantityyChanged)
        }
    }

    function quantityyChanged(event) {
            var input = event.target
            semester = event.target.getAttribute('data-value');
             window.location.replace(`http://localhost:3000/student/regisSub/?semester=${semester}`);
         
        
           
        }
</script>